<!DOCTYPE html>
<html lang="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="topbar" data-navbarbg="skin5">
  <nav class="navbar top-navbar navbar-expand-md navbar-dark">
    <div class="navbar-header" data-logobg="skin6">
      <!-- ============================================================== -->
      <!-- Logo -->
      <!-- ============================================================== -->
      <a class="navbar-brand" th:href="${urlDirect}">
        <!-- Logo icon -->
        <b class="logo-icon">
          <!-- Dark Logo icon -->
          <img th:src="@{/images/soccer-ball-variant.png}" alt="homepage" />
        </b>
        <!--End Logo icon -->
        <!-- Logo text -->
        <span class="logo-text">
                            <!-- dark Logo text -->
                            <img th:src="${urlLogo}" alt="homepage" />
                        </span>
      </a>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- toggle and nav items -->
      <!-- ============================================================== -->
      <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
         href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">

      <!-- ============================================================== -->
      <!-- Right side toggle and nav items -->
      <!-- ============================================================== -->
      <ul class="navbar-nav ms-auto d-flex align-items-center">

        <!-- ============================================================== -->
        <!-- Search -->
        <!-- ============================================================== -->
<!--        <li class=" in">-->
<!--          <form role="search" class="app-search d-none d-md-block me-3">-->
<!--            <input type="text" placeholder="Search..." class="form-control mt-0">-->
<!--            <a href="" class="active">-->
<!--              <i class="fa fa-search"></i>-->
<!--            </a>-->
<!--          </form>-->
<!--        </li>-->
        <!-- ============================================================== -->
        <!-- User profile and search -->
        <!-- ============================================================== -->
        <li>
          <a class="profile-pic" href="#">
            <img th:src="@{/images/users/d3.jpg}" alt="user-img" width="36"
                 class="img-circle"><span th:text="${userName}" class="text-white font-medium">Steave</span></a>
        </li>
        <li th:if="${isLogin}">
          <a class="link-secondary" th:href="@{/logout}">Logout</a>
        </li>
        <!-- ============================================================== -->
        <!-- User profile and search -->
        <!-- ============================================================== -->
      </ul>
    </div>
  </nav>
</header>
</body>
</html>