body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 150px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 400px; /* Set the maximum width */
  height: auto; /* Adjust the height automatically */
  margin-left: auto;
  margin-right: auto;
}
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  border-radius: 0;
}

.btn-primary {
  border-radius: 0;
  display: block;
  margin: 0 auto; /* Center the button horizontally */
}
.register-link {
  text-align: center;
  margin-top: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}


button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}