<!DOCTYPE html>
<html lang="vn"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/headFragment :: head(pageTitle='Quản lý đặt sân')"></div>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
  <!-- Add Jquery -->
  <script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
  <!--Add Data table -->
  <script th:src="@{https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js}"></script>
  <script th:src="@{/js/stadium-manager.js}"></script>
</head>
<body>
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
  <!--Header-->
  <div th:replace="fragments/headerFragment :: header"></div>
  <!--  Aside-->
  <div th:replace="fragments/asideFragment :: aside"></div>

  <div class="page-wrapper">
    <!--Main-->
    <div class="container-fluid">
      <table id="userTable" class="display" style="width:100%">
        <thead>
        <tr>
          <th>Sân</th>
          <th>Loại Sân</th>
          <th>Khung giờ</th>
          <th>Giá</th>
          <th>Trang Thai</th>
          <th></th>
        </tr>
        </thead>
      </table>
    </div>

    <!-- Button to trigger the modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#stadiumModal">
      Open Stadium Modal
    </button>
    <!--Footer-->
    <div th:replace="fragments/footerFragment :: footer"></div>
  </div>

</div>


  <!--Edit Modal -->
  <div class="modal fade" id="stadiumModal" tabindex="-1" role="dialog" aria-labelledby="stadiumModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="stadiumModalLabel">Stadium Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <!-- Stadium Name -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="stadiumName">Stadium Name</label>
                  <input type="text" class="form-control" id="stadiumName" placeholder="Enter stadium name">
                </div>
              </div>

              <!-- Stadium Type -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="stadiumType">Stadium Type</label>
                  <input type="text" class="form-control" id="stadiumType" placeholder="Enter stadium type">
                </div>
              </div>
            </div>

            <div class="row">
              <!-- Time -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="stadiumTime">Time</label>
                  <input type="text" class="form-control" id="stadiumTime" placeholder="Enter stadium time">
                </div>
              </div>

              <!-- Status -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="stadiumStatus">Status</label>
                  <select class="form-control" id="stadiumStatus">
                    <option value="Waiting">Open</option>
                    <option value="Done">Closed</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- Confirm Link -->
            <div class="col-md-6" id="confirmLink">

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- User Information Modal -->
  <div class="modal fade" id="userInformationModal" tabindex="-1" role="dialog" aria-labelledby="userInformationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userInformationModalLabel">Stadium Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <!-- User Name -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="userName">User Name</label>
                  <input type="text" class="form-control" id="userName" placeholder="Enter your name">
                </div>
              </div>
              <!-- Phone Number -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="userPhoneNumber">Phone Number</label>
                  <input type="text" class="form-control" id="userPhoneNumber" placeholder="Enter your phone number">
                </div>
              </div>
            </div>

            <div class="row">
              <!-- Email -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="userEmail">Stadium Name</label>
                  <input type="email" class="form-control" id="userEmail" placeholder="Enter user email">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Xác nhận</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>